.my-meme {
  background-color: rgb(186, 181, 181);
}

.user-settings {
  margin: 30px;
}

.images {
  height: 200px;
}

.go-to-editor {
  margin: 30px;
}

.gallery {
  display: none;
}

.btn {
  margin: 30px;
}
