@media (max-width: 640px) {
  .main-layout {
    max-height: unset;
    margin: 0 auto;
    padding: 0.5rem;
    margin: 1rem;
  }
  .editor {
    flex-direction: column;
    gap: 1rem;
  }

  .insert-text,
  .insert-color,
  .size-and-align {
    border-radius: 20px;
    padding: 2px;
    margin: 3px;
    text-align: center;
  }

  .txt-input {
    font-size: 4.7vw;
    border-radius: 8px;
  }
  /* check on mobile */
  /* .switch-btn {
    margin-top: 1px;
  } */
}
