@media (max-width: 640px) {
  .main-layout {
    max-height: unset;
    margin: 0 auto;
    padding: 0.5rem;
    margin: 1rem;
  }

  header {
    margin-bottom: 0.5rem;
    height: 5vh;
  }
  .editor {
    flex-direction: column;
    gap: 0.5rem;
  }

  .insert-text,
  .insert-color,
  .settings-btns {
    border-radius: 20px;
    padding: 2px;
    margin: 3px;
    text-align: center;
  }

  .txt-input {
    font-size: 6vw;
    border-radius: 8px;
    margin: 0;
  }

  .btn {
    margin: unset;
    font-size: unset;
  }

  .insert-text {
    padding: 0;
    margin-bottom: 0;
  }

  .switch-clean-btns {
    margin-top: 0;
  }

  .buttons {
    display: flex;
    gap: 5px;
    margin-top: 5px;
  }

  .download-btn,
  .upload-btn,
  .done-btn {
    font-size: 0.7rem;
  }

  .settings-btns {
    padding: unset;
    padding-top: 10px;
  }

  .flexible-btn {
    font-size: 14px;
  }

  .images-gal {
    text-align: center;
  }
}
