.images {
  height: 120px;
  border-radius: 8px;
  margin: 10px;
}

.gallery {
  display: none;
}

.images-gal {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 3px;
}

.flexible-btn {
  width: 130px;
  padding: 5px;
  font-size: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #32bd6f;
  color: white;
  transition: all ease-in-out 0.3s;
}

.flexible-btn:hover {
  cursor: pointer;
  background-color: rgb(154, 148, 148);
}
